<footer>
    <div class="contenedor-footer">
        <div class="contenido-barra-navegacion-footer">
            <div class="logo logo-footer">
                <div class="imagen-logo-footer">
                    <img src="/img/logoSolo.png" alt="Logo Ministerio" class="logo-footer">
                </div>
                <div class="texto-logo texto-logo-footer">
                    <p>Ministerio Cristiano <br><span>Lo Mejor Del Trigo HN</span></p>
                </div>
            </div>

            <div class="derechos">
                <p>© Todos los derechos reservados</p>

            </div>

            <div class="navegacion navegacion-footer">
                <nav class="nav-footer">
                    <a href="https://web.facebook.com/lomejordeltrigohonduras" class="link-footer"><img
                            src="/img/045-facebook.svg" alt=""></a>
                    <a href="https://api.whatsapp.com/send?phone=50431903681" class="link-footer"><img
                            src="/img/whatsapp.svg" alt=""></a>
                    <a href="https://www.youtube.com/channel/UC61HCwwOt3NHvfRZLz_Sjng" class="link-footer"><img
                            src="/img/002-youtube.svg" alt=""></a>
                </nav>
            </div>
            <!--Barra navegacion-->
        </div>
    </div>
</footer>