<header>
    <div class="contenedor">
        <div class="contenido-barra-navegacion">
            <div class="logo">
                <div class="imagen-logo">
                    <img src="/img/logoSolo.png" alt="Logo Ministerio" class="logo-principal">
                </div>
                <div class="texto-logo">
                    <h1 style="font-size: inherit; font-weight: inherit; margin: 0; padding: 0;">Ministerio Cristiano <br><span>Lo Mejor Del Trigo HN</span></h1>
                </div>
            </div>
            <div class="navegacion" id="nav-container">
                <button class="hamburger-btn" id="hamburger-btn" aria-label="Abrir menú">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <nav id="main-nav">
                    <a href="/">Inicio</a>
                    <a href="/pages/recursos.html">Recursos</a>
                    <a href="/pages/ministerio.html">Ministerio</a>
                </nav>
            </div>
            <!--Barra navegacion-->
        </div>
        {{#if showBanner}}
        <div class="contenedor-banner">
            <div class="contenedor-hero">
                <div class="imagen-hero">
                    <img src="/img/BannerLMDT.png" alt="Banner LMDT">
                </div>
            </div>
            <div class="slogan">
                <div class="texto-slogan">
                    <h2 class="levantados">LEVANTADOS <br> <span class="por">POR</span> <br><span class="Dios"> DIOS</span></h2>
                </div>
                <div class="texto-slogan">
                    <p>"Exponiendo la Palabra de Dios para la edificación de la iglesia de Cristo"</p>
                </div>
            </div>
        </div>
        <!--Contenedor-->
        {{/if}}
    </div>
</header>
